* {
    margin: 0;
    padding: 0;
    font-family: "futura md bt";
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background: #F5F7F8;
}

header {
    background: #68B984;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

header .logo {
    font-size: 25px;
    text-transform: uppercase;
    color: #fff;
}

header nav ul {
    display: flex;
}

header nav ul li a {
    display: inline-block;
    color: #fff;
    padding: 5px 0;
    margin: 0 10px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
}

header nav ul li a:hover {
    border-bottom-color: white;
}

/* header nav ul li a.active */

.side-menu {
    position: fixed;
    background: #A4D0A4;
    width: 180px;
    height: 100%;
}

.side-menu li a {
    display: block;
    line-height: 50px;
}

.side-menu nav ul li a {
    display: inline-block;
    color: #000;
    padding: 5px 0;
    margin: 0 10px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
}

.side-menu nav ul li a:hover {
    border-bottom-color: white;
}

.isi {
    width: 100%;
    border: 2px solid transparent;
    padding: 0 20px;
    margin-top: 30px;
}

.isi a {
    text-transform: capitalize;
    transition: 0.2s;
}

.isi a:hover {
    color: #9a9797;
}

.h3 {
    margin-top: 30px;
}

.h32 {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.nilai {
    padding: 5px 8px;
}

.perbandingan {
    width: 50%;
    font-size: 15px;
    color: black;
    white-space: nowrap;
    border-collapse: collapse;
}

.table2 {
    width: 40%;
    font-size: 15px;
    color: black;
    white-space: nowrap;
    border-collapse: collapse;
    margin-top: 10px;
}

table {
    width: 100%;
    font-size: 15px;
    color: black;
    white-space: nowrap;
    border-collapse: collapse;
}

table>thead {
    background-color: gray;
    color: #f5f5f5;
}

table>thead th {
    padding: 10px 0;
    margin: 0 20px;
}

table th,
table td {
    border: 1px solid black;
    padding: 5px 8px;
}

table>tbody>tr>td {
    width: 60px;
    height: 40px;

}

table>tbody>tr {
    background-color: #f5f5f5;
    transition: 0.3s ease-in-out;
}

table>tbody>tr:nth-child(even) {
    background-color: #faebd7;
}

table>tbody>tr:hover {
    filter: drop-shadow(0 2px 6px #0002);
}

.action_btn {
    display: flex;
    gap: 3px;
    margin-top: 20px;
}

.action_btn>a {
    text-decoration: none;
    color: black;
    /* background: whitesmoke; */
    border: 1px solid #da7e1c;
    display: inline-block;
    padding: 5px 15px;
    font-weight: bold;
    border-radius: 3px;
    transition: 0.5s ease-in-out;
}

.action_btn>a:nth-child(1) {
    background: #deb887;
}

.action_btn1 {
    display: flex;
    gap: 3px;
    justify-content: end;
}

.action_btn1>a {
    text-decoration: none;
    color: white;
    /* background: whitesmoke; */
    border: 1px solid rgb(138, 136, 135);
    display: inline-block;
    padding: 5px 15px;
    font-weight: bold;
    border-radius: 3px;
    transition: 0.5s ease-in-out;

}

.action_btn1>a:nth-child(1) {
    background: #0000ff;
}

.action_btn1>a:nth-child(2) {
    background: #ff0000;
}



.tambah {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 50%;
    height: 30px;
    font-size: 15px;
    border-radius: 3px;
    padding: 5px 8px;
}

.masukkan {
    width: 40%;
    font-size: 15px;
    color: black;
    white-space: nowrap;
    border-collapse: collapse;
    margin-top: 10px;
}

.keterangan {
    margin-top: 10px;
    display: block;
}

.list {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 50%;
    height: 30px;
    font-size: 15px;
    border-radius: 3px;
    padding: 5px 8px;
}



input[type=radio],
input[type=checkbox] {
    transform: scale(1);
    margin-right: 2em;
}

.main-column {
    display: flex;
    flex-direction: column;
}

.sub-column {
    border: 1px solid #ddd;
    margin: 5px;
    padding: 10px;
}

.hamburger {
    cursor: pointer;
    display: none;
}

.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #fff;
}

@media only screen and (max-width: 900px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 700px) {
    .hamburger {
        display: block;
    }

    header nav {
        position: absolute;
        width: 100%;
        left: -100%;
        top: 70px;
        width: 100%;
        background: #A4D0A4;
        /* background: #a1a1a1; */
        padding: 30px;
        transition: 0.5s;
    }

    header #nav_check:checked~nav {
        left: 0;
    }

    header nav ul {
        display: block;
    }

    header nav ul li a {
        margin: 5px 0;
    }
}